@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
*::after,*::before{
    padding: 0;
    margin: 0;
}
body{
    background: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
.container{
    position: relative;
    background: #2a2d2e;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.6);
    transition: all .5s ease-in-out;
   /* background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.45));*/
    height: auto;
    width: 340px;
    overflow: hidden;
    border-radius: .6rem;
    color: #fff;
    display: flex;
    padding: 0 1rem 1rem 1rem;
    flex-direction: column;
    margin-top: 1rem;
    user-select: none;
}
.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem;
}
.top-header p{
    font-size: 1.3rem;
    color: aqua;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: .4rem;
    transition: all .5s ease-in-out;
}
.menu:hover{
    background: #252424;
}
.bar1,.bar2,.bar3{
    background: #fff;
    width: 25px;
    height: 3px;
    margin: 3px;
    border-radius: .5rem;
}
.banner{
    /*background: url(../img/background.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;*/
    width: 100%;
    height: 200px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .5rem;
    overflow: hidden;
    border: none;
    object-fit: cover;
}
.img-banner{
    transition: all 450ms ease-in-out;
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img{
    height: 100%;
    width: 100%;
}
.timer{
    border: none;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls{
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    justify-content: space-between;
    border: none;
    padding: .5rem 1rem;
}
.play-btn,.pause-btn,.mov-btns{
    background: transparent;
    border: 3px solid transparent;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.pause-btn{
    display: none;
}
.play-btn,.pause-btn{
    border: 3px solid rgb(12, 158, 102);
    font-size: 1.8rem;
    height: 70px;
    width: 70px;
    color: rgb(12, 158, 102);
}
.play-btn:hover,.pause-btn:hover{
    background: rgb(12, 158, 102);
    color: #fff;
}
.mov-btns{
    border: none;
    font-size: 2rem;
}
.mov-btns:hover{
    background: #4b494d;
}
.progress-area{
    background: #818d8e;
    height: 8px;
    border-radius: .2rem;
    width: 100%;
    margin-top: .5rem;
    cursor: pointer;
    position: relative;
}
.progress-bar{
    position: relative;
    background: rgb(5, 125, 194);
    width: 0;
    height: 8px;
    border-radius: inherit;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease-in-out;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
  }
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.volume{
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 0rem;
    font-size: 1.3rem;
}
.volume i {
    color: rgb(12, 158, 102);
    cursor: pointer;
}
.upload-box{
    background: #2a2d2e;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    user-select: none;
    border-radius: .3rem;
    width: 250px;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.6);
    transition: all .5s ease-in-out;
    margin-bottom: 1rem;
}
.upload-box:hover{
    scale: .95;
}
.upload-box:active{
    scale: .9;
}
.img{
    height: 50px;
}
.list{
    background: #313d3e;
    padding: .7rem 1rem;
    position: absolute;
    right: -100%;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease-in-out;
    width: 250px;
    z-index: 1;
}
.btn{
    padding: .7rem 1rem;
    border: none;
    border-radius: .4rem;
    background: linear-gradient(90deg,rgb(18, 167, 110),74%,rgb(0, 162, 255));
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btn:hover{
    scale: .95;
}
.btn:active{
    scale: .9;
}
.top{
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top p{
    color: aqua;
    font-size: 1.2rem;
}
.close{
    font-size: 2rem;
    border: none;
    cursor: pointer;
    user-select: none;
    width: 40px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
}
.close:hover{
    background: #2c2e2e;
}
.options{
    width: 100%;
    padding: .5rem 1rem;
    background: #2c3536;
    border-radius: .5rem;
    border: none;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 1rem;
}
.options::-webkit-scrollbar{
    background: transparent;
    width: 10px;
    border-radius: .5rem;
}
.options::-webkit-scrollbar-track{
    background: transparent;
    border-radius: .5rem;
}
.options::-webkit-scrollbar-thumb{
    background: #585858;
    border-radius: .5rem;
}
.list .options li{
    background: transparent;
    padding: .7rem 1rem;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 20px;
    border-radius: .4rem;
    user-select: none;
    border: 2px solid #4b494d;
    cursor: pointer;
    align-items: center;
    transition: all .5s ease-in-out;
}
.list .options li:hover{
    background: #4b494d;
    scale: .95;
    color: aqua;
}
.end,.next{
    background: #565858;
    height: 10px;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
    margin-top: 1rem;
}
.next{
    display: flex;
    align-items: center;
    justify-content: center;
}
.next{
    margin-top: .3rem;
}
.effect,.effect1{
    height: 10px;
    border-radius: none;
    width: 0;
    background: rgb(0, 255, 157);
    transition: all 2s ease-in-out;
}
.foot-bottom{
    background: #4b494d;
    padding: .7rem 1rem;
    border-radius: .5rem;
    user-select: none;
    width: 100%;
    transition: all .3s;
    cursor: pointer;
}
.foot-bottom:hover{
    scale: .95;
    color: aqua;
}
.foot-bottom:active{
    scale: .9;
}
.hidden{
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}
.input-link{
    position: fixed;
    z-index: 1;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 450ms ease-in-out;
}
#form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #2a2d2e;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    width: 330px;
    color: #fff;
}
#p{
    margin-bottom: 1rem;
    color: aqua;
    font-size: 1.1rem;
}
#note{
    border: 3px dashed #ccc;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: .4rem;
    background: #555555;
}
.field{
    outline: none;
    background: #313d3e;
    border-radius: .5rem;
    width: 100%;
    font-size: 1.1rem;
    border: none;
    color: #fff;
    padding: .8rem 1.1rem;
    transition: all .5s ease-in-out;
    pointer-events: auto;
}
.field:focus{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.6);
}
.submit{
    padding: .7rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    transition: all .3s ease-in-out;
    background: rgb(3, 133, 72);
    color: hsl(0, 0%, 100%);
    pointer-events: none;
    opacity: .55;
    user-select: none;
}
.btns-sections{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 20px;
}
.close-bg{
    padding: .7rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    transition: all .3s ease-in-out;
    background: rgb(151, 12, 58);
    color: #fff;
    user-select: none;
}
.submit,.close-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.submit:hover,.close-bg:hover{
    scale: .95;
}
.submit:active,.close-bg:active{
    scale: .9;
}
/*.field:valid ~ .submit{
    pointer-events: auto;
    opacity: 1;
}*/
.volume-info{
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    transition: all .5s ease-in-out;
}
.vol-info{
    background: #1a1b1b;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: .5rem;
}
.informer{
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    color: #fff;
    transition: all .5s ease-in-out;
    position: fixed;
    z-index: 2;
    top: 0;
    user-select: none;
    left: 8%;
}
.info{
    background: #555757;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: .5rem;
}
#play,#menu{
    transform: rotate(90deg);
    margin-top: -.3rem;
    color: #1a1b1b;
}
#menu{
    color: #555757;
}
input[type="range"]{
    cursor: pointer;
}
#audio,.file{
    display: none;
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

@media (max-width: 364px) {
    .container{
        width: 90%;
    }
}

@media (max-width: 400px) {
    .informer{
        left: 29%;
    }
}
